<h2> NETFLIX TITLES</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Title</th>
        <th>Director</th>
        <th>Cast</th>
        <th>Country</th>
        <th>Date Added</th>
        <th>Release year</th>
        <th>Rating</th>
        <th>Duration</th>
        <th>Listed In</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%@titles.order("release_year asc").select(:show_id, :show_type, :title, :director, :cast, :country, :date_added, :release_year, :rating, :duration, :listed_in, :description).distinct.where.not(title: ['title']).each do |title| %>


        <tr>
          <td><%=title.show_id%></td>
          <td><%=title.show_type%></td>
          <td><%= title.title%></td>
          <td><%= title.director%></td>
          <td><%= title.cast%></td>
          <td><%= title.country%></td>
          <td><%= title.date_added%></td>
          <td><%= title.release_year%></td>
          <td><%= title.rating%></td>
          <td><%= title.duration%></td>
          <td><%= title.listed_in%></td>
          <td><%= title.description%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
